<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thank you!</title>
</head>
<body>

<h1 th:text="|Thank you ${account.username} for signing up!|">Thank you</h1>
<h2>You need to validate your email with the code mailed to your email inbox.</h2>
<p>(No email function implemented, you can insert this code below)</p>
<p th:text="${account.code}">validation code</p>

<form action="#" th:action="@{/validate/{user}?url=/login(user=${account.username})}" method="POST">
    <p><label for="code">Validation code</label>: <input type="text" name="code" id="code"/></p>
    <p><input type="submit" value="Submit"/></p>
</form>
</body>
</html>
